html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  /* to save value box-sizing: border-box if I connect librearies */
}
:root {
  --font-size: 16px;
  --font-family: "Open Sans", sans-serif;
  --font-color-light: white;
  --font-color-dark: rgba(51, 51, 51, 1);
  --color-purple-ligth: rgba(209, 169, 240, 1);
  --color-purple: rgba(157, 92, 208, 1);
  --color-purple-dark: rgba(121, 67, 164, 1);
  --color-ligth-gray: rgba(183, 183, 183, 1);
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: var(--font-color-dark);
  font-weight: 400;
}
h2 {
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 0;
  /* margin-bottom: 1.1vw; */
}
section {
  margin-bottom: 3.6vw;
}
a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1920px;
  padding: 0 160px;
  margin: auto;
}

/* header section */

.header {
  position: absolute;
  top: 0;
  width: 100%;

  display: flex;
  flex-direction: column;
  color: var(--font-color-light);
  font-size: 1.125em;
}
.header__top {
  height: 5.19vw;
  background-color: black;
}
.header__top .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__burger {
  display: none;
}
.header__logo-img {
  width: 173px;
  height: 40px;
}
.header__top__nav {
  flex-grow: 0.4;
}
.header__top__nav-list {
  font-weight: 600;
  display: flex;
}
.header__top__nav-item {
  /* font-size: 1vw; */
  font-size: 0.938vw;
}
.header__top__nav-item:not(:last-child) {
  margin-right: 3.25vw;
  /* margin-right: 3.9rem; */
}
.header__login-btn {
  padding: 0;
  color: var(--font-color-light);
  background-color: inherit;
  border: none;
}
.header__enter-icon {
  display: inline-block;
  width: 13px;
  height: 13px;
}

.header__bottom {
  height: 3.7vw;
  background: rgba(0, 0, 0, 0.4);
}
.header__bottom .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__bottom__list {
  display: flex;
  width: 100%;
}
.header__bottom__select-title {
  font-size: 0.938vw;
  font-weight: 400;
  position: relative;
}
.header__bottom__select-title:not(:last-child) {
  margin-right: 5.86vw;
  /* margin-right: 4.4vmin; */
}

.header__bottom__select-title::before,
.header__bottom__select-title::after {
  content: "";
  position: absolute;
  top: 62%;
  right: -15px;
  display: block;
  width: 6px;
  height: 1px;
  background-color: white;
  transition: all 0.3s ease-out;
  transform: translate(-2px, -50%) rotate(45deg);
}
.header__bottom__select-title::after {
  transform: translate(2px, -50%) rotate(-45deg);
}

.header__bottom__select-title:hover {
  cursor: pointer;
  background-color: #d8093a;
}

.header__login-btn:hover {
  cursor: pointer;
}

.header__bottom__search {
  width: 18.5%;
  padding: 0;
  display: flex;
  align-items: center;
  background-color: inherit;
  border: none;
}
.header__bottom__search-input {
  padding-bottom: 3px;
  margin-left: 8px;
  width: 100%;
  font-size: 0.938vw;
  background-color: inherit;
  border: none;
  border-bottom: 1px solid white;
}
.header__bottom__search-input::placeholder {
  color: var(--font-color-light);
}

/* hero section */

.hero {
  height: 41.7vw;
  position: relative;
}
.swiper {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero__content {
  width: 30.8%;
  /* width: 585px; */
  position: absolute;
}
.hero__title {
  vertical-align: middle;
  /* padding-top: 41%; */
  padding-top: 12.6vw;
  margin: 0;
  /* font-size: 72px; */
  font-size: 3.75vw;
  font-weight: 700;
  color: var(--font-color-light);
}
.hero__text {
  /* margin-bottom: 15.8%; */
  margin-bottom: 4.9vw;
  color: var(--font-color-light);
  /* font-size: 18px; */
  font-size: 0.94vw;
  line-height: 1.65;
  font-weight: 700;
}
.herro__button {
  padding: 25px 35px;
  background-color: var(--color-purple);
  color: var(--font-color-light);
  font-size: 18px;
  font-weight: 700;
  border: none;
  border-radius: 100px;
}

/* section about-us */

.about-us__content {
  line-height: 2;
  max-width: 1140px;
}
.about-us__header {
  margin-bottom: 1.1vw;
  margin-top: 4.4vw;
}

/* section gallery */
.gallery {
  margin-top: 0.25vw;
  margin-bottom: 4.35vw;
  padding: 85px 0;
  color: var(--font-color-light);
  background-image: url(../images/birmingham-museums-trust-MK_98NuC4-4-unsplash\ 3.jpg);
  background-repeat: no-repeat;
}
.gallery__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.gallery__content {
  width: 26%;
}

.gallery__header {
  color: var(--font-color-light);
  margin-top: 0;
  margin-bottom: 1.45vw;
}
.gallery__filter {
  width: 100%;
  margin-bottom: 9.5vw;
}
.gallery__filter-label {
  display: inline-block;
  margin-bottom: 0.88vw;
  font-size: 0.835vw;
  font-weight: 600;
}
.choices {
  /* https://github.com/Choices-js/Choices */
  margin-bottom: 185px;
  width: 100%;
  height: 40px;

  background: inherit;
  border-radius: 6px;
  border: 1px solid var(--font-color-light);
}

.choices:focus:not(:hover):not(:active) {
  background-color: rgba(255, 255, 255, 0.2);
}

.choices:hover,
.choices:active {
  background-color: rgba(255, 255, 255, 0.2);
}

.choices__inner {
  position: relative;
  width: 100%;
  min-height: 40px;
  padding: 10px 15px;

  font-size: 16px;

  border: none;
  background: inherit;
  color: var(--font-color-light);
  opacity: 1;

  z-index: 5;
}

.choices__list--dropdown,
.choices__list[aria-expanded] {
  padding: 0;
  margin-top: 1px;
  width: 400px;
  height: 80px;
  z-index: 2;
  background: inherit;
  border: 1px solid var(--font-color-light);
  border-radius: 6px;
}

.choices[data-type*="select-one"]::after {
  content: url(../images/arrow.svg);
  right: 25px;
  top: 12px;
  border: none;

  z-index: 11;
}

.choices[data-type*="select-one"].is-open::after {
  content: url(../images/arrow-open.svg);
  margin-top: -2px;
}

.choices__placeholder {
  opacity: 1;
}

.is-open .choices__list--dropdown,
.is-open .choices__list[aria-expanded] {
  border: 1px solid #999;
}

.is-focused .choices__inner,
.is-open .choices__inner {
  border-color: var(--color-white);
}

.choices__list--dropdown .choices__placeholder {
  display: none;
}

.choices__list--single {
  padding: 0;
}

.choices__list--single .choices__item {
  color: var(--color-white);
}

.choices__list--dropdown .choices__list,
.choices__list[aria-expanded] .choices__list {
  padding: 0;
}

.choices__list--dropdown .choices__item,
.choices__list[aria-expanded] .choices__item {
  margin: 0;
  padding: 14px 20px;
  height: 40px;

  border-bottom: 1px solid #999;
}

.choices__item {
  font-weight: 400;
  font-size: 16px;
  color: #999;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted,
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
  border: none;
  color: var(--color-white);
  background-color: rgba(255, 255, 255, 0.2);
}

.choices__list--dropdown .choices__item--selectable::after,
.choices__list[aria-expanded] .choices__item--selectable::after {
  content: "";
}

.gallery__checkboxes {
  flex-grow: 2.4;
}

.gallery__checkboxes {
  max-width: 150px;
  flex-direction: column;
}

.gallery__input-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.gallery__input-checkbox + label {
  position: relative;
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.gallery__input-checkbox + label::before {
  content: "";
  display: inline-block;
  margin-right: 12px;
  width: 12px;
  height: 12px;
  border: 1px solid var(--font-color-light);
  background-position: top 2.7px left 3px;
  background-repeat: no-repeat;
  background-size: 4px;

  transition: border-color 0.2s ease-in-out;
}
.gallery__input-checkbox + label::after {
  position: absolute;
  left: 0.2vw;
  content: "";
  display: inline-block;
  margin-right: 16px;
  width: 4px;
  height: 4px;
  border: 1px solid transparent;
  margin: auto;
  border-radius: 50%;

  transition: border-color 0.2s ease-in-out;
}

.gallery__input-checkbox:checked + label::before {
  border-color: var(--color-purple);
}

.gallery__input-checkbox:checked + label::after {
  background-color: var(--color-purple);
}

.gallery__input-checkbox:hover + label::before,
.gallery__input-checkbox:focus + label::before {
  border-color: var(--color-purple);
}

.gallery__label-checkbox {
  font-weight: 400;
  font-size: 16px;
  color: var(--font-color-light);

  transition: color 0.2s ease-in-out;
}

.gallery__label-checkbox:not(:last-child) {
  margin-bottom: 14px;
}

.gallery__input-checkbox:focus-visible + label,
.gallery__label-checkbox:hover,
.gallery__input-checkbox:checked + label {
  color: #c283f3;
}

.gallery__slider {
  width: 72%;
}
.gallery__slider.swiper {
  margin: 0;
  position: relative;
  top: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 0;
}
.gallery__swiper-wrap {
  position: relative;
  right: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 139px;
  height: 30px;
  margin-bottom: 2.4vw;
}
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-fraction {
  bottom: -10px;
  left: 7px;
}
.swiper-button-next,
.swiper-button-prev {
  position: relative;
  right: 0;
  width: 30px;
  height: 30px;
  margin: 0;
  border-radius: 50%;
  background-color: rgba(102, 102, 102, 1);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: "";
  position: absolute;
  top: 35%;
  right: 43%;
  display: block;
  width: 9px;
  height: 9px;
  background-color: inherit;
  border: 1px solid var(--font-color-light);
  border-top-color: transparent;
  border-right-color: transparent;
  transform: rotate(225deg);
}
.swiper-button-prev::after {
  right: 30%;
  transform: rotate(45deg);
}

.swiper-pagination {
  margin-top: 21px;
}

/* section catalog */
.catalog__content-block {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.catalog__acardeon {
  margin: 0;
  width: 100%;
}
.catalog__title {
  padding-bottom: 0.25vw;
}
.catalog__description {
  width: 68%;
  margin-bottom: 2vw;
  line-height: 2;
}
.acardeon-item {
  border-top: 1px solid var(--color-ligth-gray);
}
.acardeon-item__period {
  font-size: 24px;
}
.acardeon-item__button {
  position: relative;
  width: 50px;
  height: 50px;
  background-color: rgba(236, 236, 236, 1);
  border: 1px solid transparent;
  border-radius: 50%;
}
.acardeon-item__button::after {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  top: 32%;
  left: 39%;
  border: 1px solid var(--font-color-dark);
  border-left-color: transparent;
  border-top-color: transparent;
  transform: rotate(45deg);
}
.active_block .acardeon-item__button::after {
  transform: rotate(225deg);
  top: 40%;
}
.acardeon-item:hover .acardeon-item__button {
  background-color: var(--color-purple-ligth);
}
.active_block .acardeon-item__button {
  border: 2px solid var(--color-purple-dark);
}
/* .acardeon-item__button:hover::after {
  border-color: var(--color-purple-dark);
} */

.acardeon-item__header {
  height: inherit;
  display: flex;
  height: 114px;
  justify-content: space-between;
  align-items: center;
}
.catalog__active-artist {
  width: 47%;
}

.catalog__wrap-list {
  width: 96%;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(9, 1fr);
}

.catalog__wrap-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-dark-gray);
}

.catalog__wrap-btn {
  padding: 0;
  vertical-align: middle;
  border: none;
  background-color: inherit;
}

.catalog__img-block {
  display: inline-block;
  margin-bottom: 1.5vw;
}
.catalog__content-title {
  font-size: 1.25vw;
  font-weight: 600;
  margin: 0;
  margin-bottom: 0.5vw;
}
.catalog__content-descr {
  margin: 0;
  font-size: 16px;
  line-height: 2;
}
.catalog__content-bithday {
  margin: 0;
  font-size: 12px;
  color: var(--font-color-dark);
}
.info {
  display: flex;
  justify-content: flex-start;
  padding: 1.4vw 0;
}
.catalog__item-place {
  width: 35%;
  min-height: 189px;
  position: relative;
  border: 2px solid var(--color-ligth-gray);
  margin-right: 2vw;
}
.catalog__item-place:after {
  content: "";
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100%;
  border: 6px solid white;
  background-color: var(--color-ligth-gray);
}
.active_block .info {
  display: flex;
}
.catalog__item-content {
  width: 40%;
}
.catalog__item-descr {
  line-height: 1.5;
}
.catalog__item-link {
  color: var(--color-purple);
}
